<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title><%= pageTitle || 'HomePage' %></title>
  <link rel="stylesheet" href="/css/homepage.css" />
</head>
<body>
  <%- include('/partials/header.ejs') %>

  <section class="about">
    <h1><span>Fresh, Tasty, and Always</span> <br> Quality-Assured!</h1>
    <button id="discover-btn" class="modern-btn">Discover Our Products</button>
  </section>

  <script src="/js/homepage.js"></script>
</body>
</html>
